PCTI/PCTI_with_Diphone.py
PCTI/Pronunciation_Data2.txt
PCTI/X.py
PCTI/__pycache__/PCTI.cpython-37.pyc
Rao_and_Ballard_1999/Rao and Ballard(1999).pdf
Rao_and_Ballard_1999/New_Ver.py
Rao_and_Ballard_1999/Pattern_Feeder.py
Rao_and_Ballard_1999/Rao_and_Ballard_1999.py
Rao_and_Ballard_1999/Images/daisies-3396803_1920.jpg
Rao_and_Ballard_1999/Images/raindrop-3402550_1920.jpg
Rao_and_Ballard_1999/Images/spider-web-with-water-beads-921039_1920.jpg
Rao_and_Ballard_1999/Images/tiger-2791980_1920.jpg
Rao_and_Ballard_1999/Images/trees-3410830_1920.jpg
Rao_and_Ballard_1999/__pycache__/Pattern_Feeder.cpython-36.pyc
SRN/__pycache__/SRN.cpython-36.pyc
SRN/Predictive coding_SRN_Heejo(180610).pptx
SRN/PC_SRN_Figures.pptx
